<div class="movies">
{% assign sorted = (site.movies | sort: 'release' | reverse ) %}
{% for movie in sorted %}
<div class="a-film">
  {% if movie.image and movie.image != '' %}
  {% capture image_path %}{{ movie.image }}{% endcapture %}
  {% capture sm_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
  {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
  <div class="film-image">{% if movie.link %}<a href="{{ movie.url | relative_url }}">{% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}</a>{% else %}{% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}{% endif %}</div>
  {% endif %}

  <div class="film-heading">
    <div class="film-info">
      <h1 class="film-title">{% if movie.link %}<a href="{{ movie.url | relative_url }}">{{ movie.title }}</a>{% else %}{{ movie.title }}{% endif %}</h1>
      <h2 class="film-director">{{ movie.director }}</h2>
    </div>
    {% if movie.watch and movie.watch != '' %}<div class="watch-button">
      <a href="{{ movie.watch | relative_url }}" target="_blank">[watch]</a>
    </div>{% endif %}
  </div>
  
  <div class="synopsis">
    <p>{{ movie.synopsis | smartify }}</p>
  </div>
  {% if movie.release and movie.release != '' %}<h4 class="release-date">Release Date: {{ movie.release }}</h4>{% endif %}
</div>
{% endfor %}
</div>