<nav style="position: fixed;">
  <div class="navbar-brand">
    <div class="brand-content">
      <a href='{{ "/" | relative_url }}'>
        <div class="qty-square">
          <div class="logo">QTY</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="menu" role="navigation" aria-label="main navigation">
  <div id="main-menu" class="menu-list">
  {% for item in site.data.navigation %}
    <div class="navbar-item has-text-centered column">
      <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %}current{% endif %}">{{ item.name }}</a>
    </div>
  {% endfor %}
  </div>
  <div class="navbar-expand arrow down-arrow is-hidden-tablet">
    <a role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <div aria-hidden="true"></div>
    </a>    
  </div>
</nav>