@import "bulma.sass";

// Theme Colors
$main-accent:   $dark-cerulean;
$logo-text:     $eggshell;
$secondary-accent: $salmon;

$text:          $rhythm;
$link: $rhythm;
$link-invert: $lavender;
$link-visited: $rhythm;

$link-hover: $lavender;
$link-hover-border: $secondary-accent;

$link-focus: $lavender;
$link-focus-border: $secondary-accent;

$link-active: $lavender;
$link-active-border: $secondary-accent;

::selection {
  background: $secondary-accent;
}
::-moz-selection {
  background: $secondary-accent;
}

@include until($tablet) {
  .content h1 {
    font-size: 1.5rem;
  }
  .content h2 {
    font-size: 1.25rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .content h4, .content h5, .content h6, .content p {
    font-size: 0.85rem;
  }
  .content p {
    text-align: justify;
  }
}

.content {
  font-family: $Lora;
  color: $main-accent;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: $family-main;
  color: $main-accent;
}

.content a:link, .content a:visited {
  box-sizing: border-box;
  color: $black;
  font-family: $Lora;
}

.content a:hover {
  color: $rhythm;
  background-color: $secondary-accent !important;
}

.a-film, .a-log {
  margin-bottom: 80px;
}

.log-name {
  margin-top: 0 !important;
}

.film-heading {
  display: flex;
  align-items: flex-start;
}

.film-image {
  width: 100%;
  text-align: center;
  img {
    width: 100%
  }
}

.film-info {
    width: 80%;
}

.film-additional-content {
    margin-top: 2.5em;
}

.watch-button {
    text-align: right;
    width: 20%;
    padding: 20px;
}

h1.film-title {
  font-family: $Lora;
  color: $black;
  line-height: 1em;
  margin: 0.5em 0 0.2rem !important;
}

.film-title a {
  color: $black !important;
}

h2.film-director {
  margin: 0 0 1em !important;
  font-family: $family-main;
  color: $black;
  font-size: 1.2em;
  font-weight: 400;
}

.synopsis {
  margin: 0 0 0.8em !important;
  font-family: $family-main;
}

.synopsis p {
  line-height: 1.4em;
}

h4.release-date {
  font-size: 0.9rem;
  text-align: right;
  font-style: italic;
  font-weight: 300;
}

body {
  width: 100%;
  min-height: 100vh;
}

.is-centered {
  margin: 0 auto;
}

html, body, .navbar {
  background: $background;
  color: $text;
}

nav {
  @include until($tablet) {
    margin: 0 auto;
    width: 100%;
    position: relative !important;
    margin-bottom: 20px;
  }
  @include from($tablet) {
    width: 200px
  }
}

.navbar-burger {
  margin: 0 auto;
  @include from($tablet) {
    display:none;
  }
}

.menu:not(.is-centered) .menu-list {
  @include until($tablet) {
    display: none;
  }
}

nav, main {
  display: inline-block;
  vertical-align: top;
}

.menu-list .navbar-item > a {
  font-family: $family-menu;
}

.qty-square {
  background-color: $main-accent;
  text-align: center;
  width: 140px;
  height: 154px;
  @include from($tablet) {
    width: 200px;
    height: 220px;
  }
}

.qty-square > .logo {
  position: relative;
  color: $logo-text;
  font-family: $logo-type;
  top: 104px;
  height: 50px;
  overflow: hidden;
  @include from($tablet) {
    top: 170px;
  } 
}

// nav, .navbar-brand, .menu {
//   width: 200px;
// }

.menu {
  padding: 10px 0;
  @include from($tablet) {
    padding-top: 40px;
  }
}

.navbar-item {
  @include until($tablet) {
    padding: 7px 0 0 0;
  }
}

.navbar-item > a {
  color: $main-accent;
}

.navbar-expand {
  padding: 10px;
  margin: 10px auto 20px auto;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow div {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: $main-accent;
  transition: border-width 150ms ease-in-out;
  border-width: 0px 4px 4px 0px;
}
.up-arrow div {
  transform: rotate(-135deg);
}
.down-arrow div {
  transform: rotate(45deg);
}
.arrow:hover div {
  border-bottom-width: 2px;
  border-right-width: 2px;
}

.brand-content {
  margin: 0 auto;
  justify-content: center;
  color: $text;
  font-size: $size-1;
  letter-spacing: -0.25rem;
  font-family: $family-headings;
}

main {
  @include until($tablet) {
    margin: 0 20px;
  }
  @include from($tablet) {
    margin: 40px 0 0 200px;
    padding: 20px 40px;
    width: calc(100vw - 300px);
  }
}

.footer {
  background: $background;
  padding: 1rem;
}

// EVENTS

.events ul {
  padding-left: 0;
  margin-left: 1.5em;
}

.events-list {
  margin: 0 0 40px 0;
}

.past-date {
  opacity: 0.4;
}

// CRITICISM

.author {
  text-align: right;
  font-size: 0.75rem;
  @include from($tablet) {
    font-size: 1rem;
  }
}

.criticism-entry {
  margin: 0 0 30px 0;
  @include from($tablet) {
    margin: 0 0 60px 0;
  }
}

.criticism-entry .read-more {
  font-style: italic;
  font-variant: small-caps;
  font-weight: 800;
}

// AUTHOR
.author-position {
  text-transform: lowercase;
  font-variant: small-caps;
}
.post-date {
  font-family: $family-main;
  font-size: $size-7;
  font-weight: 800;
}
