---
layout: content
---
<h2>{{ page.name }} <span class="author-position">{{ page.position }}</span></h2>

{{ content }}

<h4>published pieces</h4>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-date">({{ post.publish_date | date_to_string }})</span></li>
  {% endfor %}
</ul>