<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QTY | {{ page.title }}</title>
    <link rel="stylesheet" href='{{ "/assets/css/styles.css" | relative_url }}'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src='{{ "/assets/js/scripts.js" | relative_url }}' async></script>

    <script src="{{ site.baseurl }}assets/js/lazysizes.min.js" async></script>
  </head>
  <body>
    {% include navigation-side.html %}
    <main class="content">
      <div class="container">
      {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>