---
layout: content
---
{% assign author = site.authors | where:"short_name", page.author | first %}
<h1>{{ page.title }}</h1>
<h4>by <a href="{{ author.url | relative_url }}">{{ author.name }}</a> ({{ page.publish_date | date_to_string }})</h4>

{{ content }}

<h5 class="has-text-right"><a href="javascript:history.back()"><< back</a></h5>